<div class="col-lg-12">
    <div class="k2-card">
        <div class="k2-header">
            <div class="row">
                <div class="col-lg-3">
                    <span class="k2-card-title">{{ 'NEW_PRODUCT' | translate }}</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="k2-body">
            <form role="form" class="form-horizontal" name="newProductForm" ng-submit="newProductCtrl.addProduct()">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6">
                            <label class="col-sm-2 control-label">{{"NAME" | translate}} <span
                                    style="color: red">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control1"
                                       ng-model="newProductCtrl.productData.product_name" required maxlength="200">
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-sm-2 control-label">{{"DESCRIPTION" | translate}}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control1"
                                       ng-model="newProductCtrl.productData.product_description" maxlength="500">
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-sm-2 control-label">{{"VENDOR" | translate}}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control1"
                                       ng-model="newProductCtrl.productData.product_vendor" maxlength="200">
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-sm-2 control-label">{{"VERSIONS" | translate}}<span
                                    style="color: red">*</span></label>
                            <div class="col-sm-10">
                                <select ng-if="!newProductCtrl.productData.product_versions || newProductCtrl.productData.product_versions.length == 0"
                                        class="form-control1" ng-model="newProductCtrl.productData.product_versions1"
                                        ng-options="option as option for option in newProductCtrl.productData.product_versions"
                                        required>
                                    <option></option>
                                </select>
                                <select width="'100%'" ng-if="newProductCtrl.productData.product_versions.length > 0" multiple chosen
                                        class="form-control1 chosen-select"
                                        ng-model="newProductCtrl.productData.product_versions"
                                        ng-options="option as option for option in newProductCtrl.productData.product_versions"
                                        required>
                                </select>
                            </div>
                            <div style="float: right;position: absolute;right: 30px;">
                                <button uib-tooltip="Add version" tooltip-placement="top" popover-placement="left"
                                        popover-append-to-body="true"
                                        uib-popover-template="'addNewProductVersionTemplate.html'"
                                        popover-title="'Add version'"
                                        popover-is-open="newProductCtrl.isOpen"
                                        ng-click="newProductCtrl.initAddVersionPopup()" type="button"
                                        class="btn k2-primary-btn">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                <script type="text/ng-template" id="addNewProductVersionTemplate.html">
                                    <div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Please type in new version:</label>
                                                    <input type="text" ng-model="newProductCtrl.versionToAdd"
                                                           class="form-control1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="color: #ec4758"
                                             ng-show="newProductCtrl.addVersionError == true">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Version exist, Please type in new version</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <button type="button"  class="btn k2-primary-btn"
                                                        ng-click="newProductCtrl.addVersion(newProductCtrl.versionToAdd)">
                                                    Add
                                                </button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button type="button" class="btn k2-primary-btn"
                                                        ng-click="newProductCtrl.isOpen = false">Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </script>
                            </div>
                        </div>
                        <div class="form-group col-lg-6"></div>

                        <div class="form-group col-lg-6" style="padding-right: 30px;">
                            <button class="btn  k2-primary-btn pull-right" type="submit">{{"CREATE" | translate}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>