<div class="ibox float-e-margins">
    <div class="ibox-title">
        <div class="row">
            <div class="col-lg-3">
                <h2>{{ 'NEW_ROLE' | translate }}</h2>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12 form-horizontal">
                <form role="form" ng-submit="environmentNewRoleCtrl.addRole()">
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group col-lg-6">
                                    <label class="col-sm-2 control-label">{{"NAME" | translate}} <span style="color: red">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control1" ng-model="environmentNewRoleCtrl.roleData.role_name" required>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="col-sm-2 control-label">{{"DESCRIPTION" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control1" ng-model="environmentNewRoleCtrl.roleData.role_description">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="col-sm-2 control-label">{{"NUMBER_OF_ENTITIES_TO_COPY" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input style="width: 100%" type="number" class="form-control1" min="1" ng-change="environmentNewRoleCtrl.roleData.allowed_number_of_entities_to_copy === undefined ? environmentNewRoleCtrl.roleData.allowed_number_of_entities_to_copy = 1 : environmentNewRoleCtrl.roleData.allowed_number_of_entities_to_copy" ng-model="environmentNewRoleCtrl.roleData.allowed_number_of_entities_to_copy"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group col-lg-4">
                                    <label class="col-sm-10 control-label">{{"DELETE_BEFORE_LOAD" | translate}}</label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" ng-model="environmentNewRoleCtrl.roleData.allowed_delete_before_load"/>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="col-sm-10 control-label">{{"CREATE_OF_SYNTHETIC_DATA" | translate}}</label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" ng-model="environmentNewRoleCtrl.roleData.allowed_creation_of_synthetic_data"/>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="col-sm-10 control-label">{{"RANDOM_ENTITY_SELECTION" | translate}}</label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" ng-model="environmentNewRoleCtrl.roleData.allowed_random_entity_selection"/>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="col-sm-10 control-label">{{"REQUEST_OF_FRESH_DATA" | translate}}</label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" ng-model="environmentNewRoleCtrl.roleData.allowed_request_of_fresh_data"/>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="col-sm-10 control-label">{{"REFRESH_REFERENCE_DATA" | translate}}</label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" ng-model="environmentNewRoleCtrl.roleData.allowed_refresh_reference_data"/>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="col-sm-10 control-label">{{"TASK_SCHEDULING" | translate}}</label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" ng-model="environmentNewRoleCtrl.roleData.allowed_task_scheduling"/>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="col-sm-10 control-label">{{"REPLACE_SEQUENCES" | translate}}</label>
                                    <div class="col-sm-2">
                                        <input ng-disabled="environmentRoleCtrl.disableChange"  type="checkbox" ng-model="environmentNewRoleCtrl.roleData.allowed_replace_sequences"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn k2-primary-btn pull-right" type="submit">{{"ADD_ROLE" | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>